<!DOCTYPE html>
<html lang="en">
{#<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.min.js"></script>#}
<script src="/static/js/echarts.min.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?ak=0SDCjoKHYfj6gzmELgkHI46OwrBIUjkP&v=2.0&s=1&services=false"></script>
<script type="text/javascript"
        src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript"
        src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        .BMap_cpyCtrl {
            display: none;
        }

        .anchorBL {
            display: none;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div style="height: 100vh">
    <div style="width: 100%;height: 4vh;background-color: chartreuse">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">教育数据可视化</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">学生数据分析</a></li>
                        <li><a href="course">课程域数据分析</a></li>
                        <li><a href="group">群体域数据分析</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div style="height: 93vh">
        <div style="width: 25%;float: left;height: 96vh;background: #fff">
            <div style="height: 33.3%;background: darkgrey"></div>
            <div style="height: 33.3%;background: bisque"></div>
            <div id="left3" style="height: 33.3%;background: gray"></div>
        </div>

        <div style="width: 50%;float: left;height: 96vh;background: #30323c">
            <div id="container" style="height: 100%"></div>
        </div>

        <div style="width: 25%;float: right;height: 96vh;background: #fff">
            <div style="height: 33.3%;background: darkgrey"></div>
            <div style="height: 33.3%;background: bisque"></div>
            <div style="height: 33.3%;background: darkgrey"></div>
        </div>
    </div>
    <!--布局结构为左中右，左侧三栏，右侧三栏-->

</div>
</body>
<script type="text/javascript" src="/static/js/courseChart.js">

</script>
<script type="text/javascript">
    var map = new BMap.Map("container", {});
    // 创建地图实例
    var point = new BMap.Point(103.802, 35.915);
    // 创建点坐标
    map.centerAndZoom(point, 5);
    // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);
    var myStyleJson = [
        {
            "featureType": "land",
            "elementType": "geometry",
            "stylers": {
                "color": "#212121"
            }
        },
        {
            "featureType": "building",
            "elementType": "geometry",
            "stylers": {
                {#"color": "#2b2b2b"#}
                "visibility": "off"
            }
        },
        {
            "featureType": "highway",
            "elementType": "all",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "arterial",
            "elementType": "geometry",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "green",
            "elementType": "geometry",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": {
                "color": "#181818"
            }
        },
        {
            "featureType": "subway",
            "elementType": "geometry.stroke",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "railway",
            "elementType": "geometry",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "all",
            "elementType": "labels.text.stroke",
            "stylers": {
                "color": "#313131"
            }
        },
        {
            "featureType": "all",
            "elementType": "labels.text.fill",
            "stylers": {
                "color": "#8b8787"
            }
        },
        {
            "featureType": "manmade",
            "elementType": "geometry",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "local",
            "elementType": "geometry",
            "stylers": {
                "lightness": -75,
                "saturation": -91
            }
        },
        {
            "featureType": "subway",
            "elementType": "geometry",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "railway",
            "elementType": "all",
            "stylers": {
                "visibility": "off"
            }
        },
        {
            "featureType": "boundary",
            "elementType": "geometry",
            "stylers": {
                "color": "#8b8787",
                "weight": "1",
                "lightness": -29
            }
        },
        {
            "featureType": "poilabel",
            "elementType": "all",
            "stylers": {
                "visibility": "off"
            }
        },
    ];
    map.setMapStyle({styleJson: myStyleJson});
</script>
<script type="text/javascript" src="/static/js/getLocation.js">
</script>
<script type="text/javascript" src="/static/js/stuGrade.js">
</script>
</html>

