<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{#<script type="text/javascript" src="/static/js/d3.js"></script>#}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div>
        <!--布局结构为左中右，左侧三栏，右侧三栏-->
        <div style="width: 20%;float: left;height: 100vh;background: #fff">
            <div style="height: 33.3%;background: darkgrey"></div>
            <div style="height: 33.3%;background: bisque"></div>
            <div style="height: 33.3%;background: darkgrey"></div>
        </div>

        <div style="width: 60%;float: left;height: 100vh;background: #30323c">

        </div>

        <div style="width: 20%;float: right;height: 100vh;background: #fff">
            <div style="height: 33.3%;background: darkgrey"></div>
            <div style="height: 33.3%;background: bisque"></div>
            <div style="height: 33.3%;background: darkgrey"></div>
        </div>
    </div>
</body>
{#<script type="text/javascript" src="/static/js/test.js"></script>#}
</html>

